<html>
  <head>
    <title>Tracking API test bench</title>
  </head>
  <body>

    
<script>
  (function(ss,ex){
    window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments).concat(ss));};
    <%= "window.ldfdr('cfg','enableAutoTracking',#{locals[:tracking_allowed]});" unless locals[:tracking_allowed].nil? %>
    <%= "window.ldfdr('cfg','trackingCookieDurationDays',#{locals[:cookie_duration_days]});" unless locals[:cookie_duration_days].nil? %>
    (function(d, s){
      fs=d.getElementsByTagName(s)[0];
      function ce(src){
        var cs=d.createElement(s);
        cs.src=src;
        cs.async=true;
        fs.parentNode.insertBefore(cs,fs);
      };
      ce('https://sc-polon-dev.s3.amazonaws.com/lftracker_v1_123456.js');
    })(document,'script');
  })('<%= locals[:script_hash] %>');
</script>


  </body>
</html>
